.form-inline {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.jumbotron {
    background-image: url("den.jpg");
    background-color: black;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;

}

.jumbotron h1{
	color: white;
}
.about, .rating {
	color: white;
}

.game-image {
	float: right;
	height: 150px;
}

.stream {
	width: 760px;
	height: 600px;
	margin-left: 150px;
}

.image {
	float: left;
	height: 200px;
}
.col-sm-4 {
	height: auto;
}